* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

div.container{
	width: 100%;
	padding: 10px;
	display: inline-block;
	/*background-color: green;*/
}

div.sec {
	float: left;
	position: relative;
	background-color: #c4c4c4;
	border: 2px solid black;
	padding: 30px 10px 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title {
	position: absolute;
	margin: 0;
	padding: 5px;
	right: -1px;
	top: -1px;
	font-weight: bold;
	border: 1px solid black;
}

.title1 {
	background-color: #ff5722;
	color: white;
}
.title2 {
	background-color: #3f51b5;
	color: white;
}
.title3 {
	background-color: #e3eb91;
	color: black;
}


/* Desktop */
@media (min-width: 992px) {
	.sec {
		width: 30%;
		margin-left: 15px;
		margin-right: 15px;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	#p1{
		width: 49%;
		float: left;
	} 
	#p2 { 
		width: 49%;
		float: right;
	}
	#p3 { 
		width:100%;
		clear: left;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.sec{
		float: none;
	}
}